# Python virtual environment
venv/
.env
__pycache__/
*.pyc
*.pyo

# Django / Flask
*.sqlite3
*.log
*.pot
*.py[cod]
*.mo

# IDE / Editor
.vscode/
.idea/
.history/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/
