{% extends "base.html" %}
{% block content %}
<h2 class="display-5">About Me</h2>
<p>I’m Shreya Saraf, a developer passionate about building scalable applications.</p>
<div class="row mt-4">
  <div class="col-md-3"><h4>Frontend</h4><p>HTML, CSS, Bootstrap, React</p></div>
  <div class="col-md-3"><h4>Backend</h4><p>Django, REST API</p></div>
  <div class="col-md-3"><h4>Tools</h4><p>GitHub, Docker</p></div>
  <div class="col-md-3"><h4>Languages</h4><p>Python, C++, JavaScript</p></div>
</div>
{% endblock %}
