{% extends "base.html" %}
{% block content %}
<div class="row align-items-center">
  <div class="col-md-4">
    <img src="{% static 'img/profile.jpg' %}" class="img-fluid rounded-circle border border-light" alt="profile">
  </div>
  <div class="col-md-8">
    <h1 class="display-3">Your Name</h1>
    <p class="lead text-secondary">Full Stack Engineer | Tech Enthusiast</p>
    <div>
      <a href="#" class="btn btn-outline-light">GitHub</a>
      <a href="#" class="btn btn-outline-light">LinkedIn</a>
      <a href="mailto:you@example.com" class="btn btn-outline-light">Email</a>
    </div>
  </div>
</div>
{% endblock %}
